
 
@font-face {
    font-family: "Comfortaa-Light.ttf"; 
    src: url("http://www.dafont.com/comfortaa.font"); 
}

body {
font-family:"Comfortaa";
}

#menu {
border-top: 3px solid #000;
border-bottom: 3px solid #000;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #0F8CF4;
    width:792px;
}

li {
    float: left;
}

li a {
    display: block;
    width: 100px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #03589E;
    color: white;
}
